/* 1. RESET Y ESTRUCTURA BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #000028;
}

.grid-container {
    display: grid;
    grid-template-rows: 12% 50% 38%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


